<a href="https://colab.research.google.com/github/CelestineAkpanoko/Data-analysis-with-python/blob/main/NumpyExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Exercises

In [1]:
#import numpy package under the name np
import numpy as np

#print the numpy version and configuration
print(np.__version__)

1.21.5

## Array Creation
### Create a numpy array of size 10, filled with 0.

In [2]:
a = np.arange(10) * 0
a

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

### Create a numpy array with values ranging from 10 to 49

In [3]:
a1 = np.arange(10,50)
a1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])